body{
    background-image: url(joker.jpg);
    background-repeat: no-repeat;
    background-size: 120% 450%;
}
#koltseg{
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
#koltseghet{
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.btn{
    font-family: 'Ubuntu', sans-serif;
}
#cigikep{
    width: 200px;
    float: left;
}
.szoveg{
    margin-bottom: 6px;
}