body{
    background-image: url(hatter.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
}
.szoveg{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #69D283;
}
.btn{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif; 
    color: #69D283;
}